extends layout

block content
  div(class='bg')
    h2(class="logo")
  div(class="grid")
    for image in images
      img(data-height=image.height data-width=image.width
          style="background: " + image.color + " url('" + image.url + "') no-repeat left top; background-size: contain")
