doctype html
html
  head
    title Welcome to Blenda - Inspiring photography, with the power of Dropbox
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")

    link(rel='stylesheet', href='/vendor/normalize.css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/animate.css/animate.css')
    link(href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css")
    link(href="//code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet" type="text/css")

    link(rel="shortcut icon" href="/favicon.ico?v=3" type="image/x-icon")
    link(rel="icon" href="/favicon.ico?v=3" type="image/x-icon")

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/wow/dist/wow.min.js')
    script
      | new WOW({mobile: false}).init();
      | $(function(){
      |  $(".email").keypress(function(e){
      |     var keyCode = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
      |     $('.failure').addClass('hidden')
      |     if (keyCode === 13){
      |       $(this).parent().submit()
      |       return false
      |     }
      |  })
      |  $('form').submit(function(e){
      |   var email = $(this).find('input').val()
      |   if (!/@/.test(email)) {
      |     $(this).find('.failure').removeClass('hidden')
      |     return false
      |   }
      |   $.ajax({
      |     url: '/join',
      |     dataType: 'json',
      |     type: 'POST',
      |     data: {email: email}
      |   }).done(function(){
      |     $('.active').addClass('hidden')
      |     $('.success').removeClass('hidden')
      |   })
      |   e.preventDefault()
      |   return false
      |  })
      | })

    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      | ga('create', 'UA-56164704-1', 'auto');
      | ga('send', 'pageview');

  body
    header(class='header' role="header")
      div(class="logo")
      h1(class="wow fadeIn title") Amazing photography
      h2(class="wow fadeInDown subtitle") from your Dropbox
      div(class="action")
        form(action="/join" method="post")
          div(class="buttons")
            p(class="success hidden") We'll reach you when the beta is launched
            input(class='email active' type="text" autofocus='true' placeholder='you@ro.ck' name='email')
            button(class='active' type="submit") Signup for Beta
            p(class="failure hidden") Please enter a valid email

    section(class='features')
      div(class='feature wow fadeInLeft')
        div(class='thumb')
          i(class='ion-images')
        div(class='description')
          h2(class='title') Your photos are always with you
        | Using Dropbox means that your photos always stay with you, in the same
        | resolution. Stop worrying about losing your photos, they never leave
        | the safety of your Dropbox.

      div(class='feature wow fadeInLeft')
        div(class='thumb')
          i(class='ion-upload')
        div(class='description')
          h2(class='title') No more upload forms
        | Upload that stunning photo of mountains you have visited last
        | weekend by just pasting it in your local Dropbox folder.
        | Stop wasting time on uploads and take more amazing photos instead!

      div(class='feature wow fadeInLeft')
        div(class='thumb')
          i(class='ion-ionic')
        div(class='description')
          h2(class='title') Simplicity at its finest
        | Our interface is very simple and easy to use. We strongly value
        | minimalism and we're focused to make photo sharing fun and simple again.

     footer(class='action')
       h2(class='active') Join the party, take your early access seat
       form(action="/join" method="post")
         div(class="buttons")
           p(class="success hidden") Thanks for your support
           input(class='email active' type="text" placeholder='you@ro.ck' name='email')
           button(class='active' type="submit") Signup for Beta
           p(class="failure hidden" style='margin-top: 10px') Please enter a valid email
