doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vendor/normalize.css/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/syntax.css')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js")
    script(src='/js/bundle.js')

    script(type="text/template" id="main-template")
      { text }
  body
    form(action="/sync" method="post" id="form")
      input(type="submit" value="Sync with Dropbox")

    block content
