html, body
  height: 100%
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

ul.images
  margin: 0
  font-size: 0
  padding: 0
  padding-bottom: 1000px
  white-space: nowrap
  overflow-x: auto
  li
    display: inline-block
    img
      opacity: 0.2
      margin: auto
      vertical-align: middle
      position: relative
      z-index: 0
      max-width: 100%
    &.active
      img
        opacity: 1
        height: 100%
        width: 100%
        z-index: 1
        position: relative

.grid
  position: relative
  margin-top: 700px

div.bg
  color: white
  background: url(../stars2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* Set rules to fill background */
  min-height: 70%
  min-width: 1024px

  /* Set up proportionate scaling */
  width: 100%
  height: auto

  /* Set up positioning */
  position: fixed
  top: 0
  left: 0

  .logo
    text-align: center
    vertical-align: center
    width: 100%
    height: 500px
    background: url(../logo-white-4.svg) no-repeat center;
    background-size: 1000px 500px

@media screen and (max-width: 1024px) /* Specific to this particular image */
  img.bg
    left: 50%
    margin-left: -512px   /* 50% */
