* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus {
  outline: none;
}
html,
body {
  height: 100%;
}
-webkit-font-smoothing: antialiased,
a {
  color: #00b7ff;
}
.images {
  margin: 0;
  font-size: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
}
.images li {
  display: inline-block;
}
.images li img {
  opacity: 0.2;
  margin: auto;
  vertical-align: middle;
  position: relative;
  z-index: 0;
  max-width: 100%;
}
.images li.active img {
  opacity: 1;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}
section {
  padding-top: 5em;
  border-top: 2px solid #fff;
}
section p {
  padding: 2em;
}
section .visual {
  max-width: 50%;
}
section h2,
section p {
  max-width: 30em;
}
.header {
/* Set rules to fill background */
  min-height: 100%;
/* Set up proportionate scaling */
  width: 100%;
  height: auto;
/* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header * {
  padding-top: 1rem;
}
.header,
.features {
  color: #fff;
  background-color: #000;
  position: relative;
}
footer {
  min-height: 10em;
  color: #fff;
  padding-top: 5em;
  padding-bottom: 5em;
}
.header p,
footer p,
.header h1,
footer h1,
.header h2,
footer h2,
.header .buttons,
footer .buttons,
.header .action,
footer .action {
  margin: 0 auto;
  text-align: center;
}
.features {
  text-align: left;
}
footer {
  background-color: #000;
}
.feature {
  max-width: 30rem;
  margin: 0 auto;
}
.feature .title {
  font-weight: bold;
  margin-bottom: 0.5em;
}
button {
  color: #fff;
  background: #10bbf1;
  padding: 1em;
  border: 2px solid #10bbf1;
  -moz-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -ms-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -o-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0);
  border-color: #fff;
}
button:hover {
  color: #222;
  background-color: #fff;
  border-color: #fff;
}
button:active {
  color: #222;
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}
.left {
  float: left;
}
.right {
  float: right;
}
.logo {
  background: url("/logo.png") no-repeat center;
  background-size: 80%;
  width: 100%;
  max-width: 100%;
  height: 10em;
  border: none;
  outline: none;
}
input {
  margin-top: 2em;
  background: transparent;
  border: 1px solid #fff;
  padding: 1em;
  text-align: center;
  border: none;
  margin: 0 auto;
}
input:focus {
  outline-width: 0;
}
.thumb {
  text-align: center;
  width: 100%;
  float: left;
}
.thumb i {
  display: block;
  font-size: 5em;
}
input {
  margin-top: 2em;
  background: transparent;
  border: 1px solid #fff;
  padding: 1em;
  text-align: initial;
  border: none;
  margin: 0 auto;
}
input:focus {
  outline-width: 0;
}
.feature {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}
.logo {
  background-size: 80%;
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
}
.header h1 {
  font-size: 2.5em;
  padding-top: 5%;
}
.header h2 {
  font-size: 1.5em;
}
input {
  text-align: center;
}
.hidden {
  display: none;
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .header h1 {
    font-size: 2.5em;
    padding-top: 5%;
  }
  .header h2 {
    font-size: 1.5em;
  }
  .header .buttons {
    margin-top: 5%;
  }
  input {
    text-align: center;
    width: 100%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .logo {
    border: none;
    max-width: 15em;
    margin-left: 2em;
  }
  .feature {
    text-align: initial;
    padding-bottom: 5rem;
  }
  .thumb {
    text-align: left;
    width: initial;
    padding-bottom: 5rem;
    padding-right: 1rem;
  }
  .header h1 {
    font-size: 3em;
  }
  .header h2 {
    font-size: 2em;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .header h1 {
    font-size: 6em;
    padding-top: 10%;
  }
  .header h2 {
    font-size: 3em;
  }
  footer .buttons {
    padding-top: 2em;
  }
  input {
    text-align: initial;
    width: initial;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .header h1 {
    padding-top: 10%;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .header h1 {
    padding-top: 10%;
  }
}
