html, body
  height: 100%
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  overflow: hidden
a
  color: #00B7FF

#container
  overflow: hidden

ul.images
  margin: 0
  font-size: 0
  padding: 0
  padding-bottom: 1000px
  white-space: nowrap
  overflow-x: auto
  li
    display: inline-block
    img
      opacity: 0.2
    &.active
      img
        opacity: 1

ul.images li + li
  margin-left: 40px
